.header {
  font-size: 64px;
  font-weight: 600;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 100vw;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.profilecard {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardi {
  background: url("https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg") center center no-repeat;
  background-size: 300px;
}

.cardi:hover {
  background-size: 350px;
}

.cardi:hover .border {
  border: 2px solid white;
}

.cardi:hover .card-title {
  opacity: 1;
}

.cardi:hover .fa {
  opacity: 1;
}

.card-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  text-align: left;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 100px;
  top: 250px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}